@import '../../resources/css/variables.less';

.main-container {
    position: relative;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 4.5rem auto;
    grid-template-rows: 100%;
    //grid-column-gap: 0.3rem;
    grid-row-gap: 0.3rem;
}

.left-container {
    height: 100%;
    //background: linear-gradient(298deg, rgb(184, 184, 184), rgb(255, 255, 255));
   // background-color: white;
    overflow: hidden;
    border-radius: @borderRadius;
    display: grid;
    align-content: center;

    .form-wrapper {
        min-height: 2.4rem;
    }

    .transactions-form-wrapper {
        display: flex;
        height: 100%;
        flex-direction: column;
        .transaction-list-container {
            flex: 1;
            width: 100%;
            overflow-y: auto;
        }

        .bottom-container {
            background: linear-gradient(272deg, rgb(216, 216, 216), rgb(241, 235, 239));
            width: 100%;
            padding: 20px 0;
            text-align: right;
            /deep/.select-container {
                margin: auto;
                width: 90%;
                text-align: center;
                height: unset;
            }
            .send-button {
                margin: auto;
                width: 90%;
                margin-top: 20px;
                /deep/.full-width-centered-button {
                    left: 0;
                }
            }
        }
    }
}

.right-container {
    box-shadow: 0px 0px 6px 5px rgba(0,0,0,0.2);
    overflow: auto;
   // background-color: white;
    border-radius: @borderRadius;
    background: linear-gradient(298deg, #d8d8d8, #F1ebef);
    display: grid;
    grid-template-rows: 0.7rem 1fr;
    
}

.transaction-container {
    display: grid;
    grid-template-rows: auto;
    height: 100%;
}

.transaction-form-component {
    margin-bottom: 0.1rem;
}

.right-container {

    /deep/.ivu-select-selected-value{color: #007dbb !important;}
    /deep/.single-step
    {
        color: rgb(60, 60, 60);
        .active{ color: rgb(247, 247, 247);}
   
    }
    
    /deep/.form-wrapper {
        display: flex;
        flex-direction: column;

        .transactions-form-wrapper {
            flex-grow: 1;
        }
    }

    /deep/.multisig_ban_container {
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }
}

.title-container {
    padding: 0.3rem;
    border-bottom-left-radius: 0.15rem;
    border-top-left-radius: 0.15rem;
    background: linear-gradient(298deg, #d8d8d8, #F1ebef);
    //height: 100%;
    
    .wrapper {
        display: block;
        height: fit-content;
        .title {
            color: @purpleDark;
            font-size: 30px;
            font-family: @normalFont;
            margin-bottom: 5%;
        }

        .description-text {
            color: @purpleDark;
            font-size: @smallFont;
            margin-bottom: 2%;

            .mt {
                margin-top: 0.25rem;
            }
        }
    }
}

.login-button {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 0.15rem;
    margin-top: 0.1rem;
}

.trigger-accountlink {
    font-size: @normalFont !important;
    color: @purpleDark;
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    z-index: 100000;
}

.navbar-icon {
    display: inline;
    margin-right: 10px;
    width: 0.15rem;
    height: 0.15rem;
}
